$darkgray-color: #2e3440;
$lightgray-color: #3b4252;
$ivory-color: #e5e9f0;
$orange-color: #bf616a;
$green-color: #a3be8c;
$yellow-color: #ebcb8b;
$darkblue-color: #81a1c1;
$lightblue-color: #88c0d0;
$purple-color: #b48ead;
$column-width: 46rem;
$column-margin-top: 2rem;
